body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(0, 70, 58);
  font-family: Arial, Helvetica, sans-serif;
  color: aliceblue;;
}

.container {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}
